//Fonts
$font-main: "Roboto", sans-serif;
$font-title: "Shrikhand", serif;

// Colors
$main-bg: #F6F6F6;
$header-bg: #EAEAEA;
$white: #FFFFFF;
$accent: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$dark-gray: #353535;
$dark: #000000;
$gray: #7E7E7E;
$dark-green: #008766;
$icon: #9356DC;
$min-btn: #99E2D0;

// Media
$mobile: 375px;
$desktop: 1,440px;