.plate-presentation {
    padding-bottom: 66px;
}

.plate-presentation-container {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}

.plate-presentation__title {
    padding: 50px 0 25px;

    @include mediaMobile {
        padding: 54px 0 48px;
    }
}

.plate-presentation__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 100px;

    @include mediaMobile {
        flex-direction: column;
        align-items: center;
        gap: 18px 0;
    }
}

.plate-presentation__block {
    position: relative;
    box-shadow: 0px 4px 15px 0px #0000001A;
    background-color: $white;
    border-radius: 15px 15px 0 0;
    width: 490px;


    @include mediaMobile {
        width: 340px;
    }

    // &:nth-child(2)::after {
    //     position: absolute;
    //     content: '';
    //     bottom: 15px;
    //     right: 15px;
    //     width: 22px;
    //     height: 21px;
    //     background-image: url(../../images/restaurants/heart.png);
    //     z-index: 8;
    // }
}


.plate-presentation__block img {
    width: 490px;
    height: 195px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

    @include mediaMobile {
        width: 340px;
    }
}

.plate-presentation__link {
    display: inline-block;
    overflow: hidden;
    position: relative;

    &:hover img {
        transform: scale(1.1);
    }
}

.plate-presentation__link img {
    transition: transform 0.3s ease;
}

.mini-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 9;

    transition: box-shadow 0.4s ease, 
    color 0.4s ease;

    &:hover {
        box-shadow: 0 0 20px rgba(5, 170, 71, 5);
        color: #06bf63;
    }
}

.plate-presentation__text {
    position: relative;
}

.plate-presentation__text h3 {
    color: $dark;
    padding: 16px 0 5px 19px;

    @include mediaMobile {
        padding: 16px 0 5px 13px;
    }
}

.plate-presentation__text p {
    font-size: 17px;
    font-weight: 300;
    line-height: 19.92px;
    padding: 0 0 12px 19px;

    @include mediaMobile {
        padding: 0 0 12px 13px;
    }
}

.plate-presentation__text i {
    position: absolute;
    right: 25px;
    top: 23px;
    font-size: 30px;
}